@CHARSET "UTF-8";

body{
    font-family: 'Mina';
    font-size: 18px;
    background-color: #222;
}

input{
    border: 3px inset #fa0;
    font-family: 'Mina';
    font-size: 18px;
    width: 100px;
    height: 18px;
    border-radius: 6px;
    padding: 5px;
}

div{
    line-height: 18px;
    padding: 5px;
    border: 3px outset #079;
    margin: 5px;
}

.button{
    background-color: #079;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    width: 100px;
}

.button:hover{
    background-color: #09a;
}

#result{
    min-height: 18px;
    border-radius: 2px;
    background-color: #fff;
    height: calc(100% - 60px);
    overflow: auto;
}

.term{
    border: 1px dotted #ddd;
    width: 64px;
    text-align: center;
    display:inline-block;
}