@CHARSET "UTF-8";

body{
    background-color:#222;
    text-align: center;
}

.title{
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    color: #888;
}

#garageWrapper{
    width: 800px;
    height: 550px;
    background: url('cars/garage01.jpg');
    background-size: contain;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

img{
    width: 760px;
    position: absolute;
    left: 20px;
    bottom: 100px;
    /*transform: translateX(-50%);*/
}

#inputWrapper{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}