@CHARSET "UTF-8";

.numbers{
    font-size: 24px;
    text-align: center;
    width: 32px;
    height: 32px;
}

#separator{
    width: 36px;
    height:2px;
    background-color: #000;
    margin: 5px 0;
}

.fractionWrapper{
    border:1px solid #000;
    margin-top: 10px;
    display: none;
}